.axis path,
.axis line {
    fill: none;
    stroke: #8FA2AC;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #8FA2AC;
    text-anchor: middle;
    font-family: Baloo Thambi;

}

.legend {
    font-family: Baloo Thambi;
    font-size: 12px;
    fill: #8FA2AC;
    text-anchor: middle;
}

.chart {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    background-color:#ffffff;
}

.chart text {
    fill: #8FA2AC;
    text-anchor: middle;
}

#TemporalMultivariateDiv {
    width: 100%;
    height: calc(100% - 30px);
    overflow-x: scroll;
    white-space: nowrap;
    /*white-space: nowrap;*/
    display: block;
}

.simpleTemporalChart {
    width: calc((100% - 10px)/5); /*show at least 5 plots at start*/
    /*margin: 10px 2px 10px 0px;*/
    /*margin-top:0px;*/
    margin-left:2px;
    margin-right:2px;
    height: calc(100% - 5px); /*5 from edge to component border and 5 from border to content*/
    /*box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);*/
    background-color: #ffffff;
    display: inline-block;
}


/*transparent axis*/
.x-axis path, .x-axis line,.y-axis path, .y-axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
.x-axis text, .y-axis text {
    fill: #8FA2AC;
    text-anchor: middle;
    font-family: Baloo Thambi;

}

/*solid axis*/
.x-axis-s path, .x-axis-s line,.y-axis-s path, .y-axis-s line {
    stroke-width: 0.5px;
    stroke: gray;
}
.x-axis-s text, .y-axis-s text {
    fill: #8FA2AC;
    text-anchor: middle;
    font-family: Baloo Thambi;

}