.axis path,
.axis line {
    fill: none;
    stroke: #8FA2AC;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #8FA2AC;
    text-anchor: middle;
    font-family: Baloo Thambi;

}

.legend {
    font-family: Baloo Thambi;
    font-size: 12px;
    fill: #8FA2AC;
    text-anchor: middle;
}

.chart {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

.chart text {
    fill: #8FA2AC;
    text-anchor: middle;
}

#TemporalMultivariateDiv {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
}

.simpleTemporalChart {
    width: 180px;
    margin: 10px 2px 10px 0px;
    height: calc(100% - 20px);
    display: inline-block;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
}


/*transparent axis*/
.x-axis path, .x-axis line,.y-axis path, .y-axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
.x-axis text, .y-axis text {
    fill: #8FA2AC;
    text-anchor: middle;
    font-family: Baloo Thambi;

}