
#slider label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    margin-right: -5px;
    text-align: right;
    margin-top: 20px;
    transform: rotate(-40deg);
    color: #031F4B;
    font-size: 10px;
}
#slider a {
    border-color:  #034b2f;
}

/* below is not necessary, just for style */
#slider {
    width: 200px;
    z-index: 1000;
    margin-top: 10px;
    margin-left: 15px;
    border-color: #031F4B;
}
