body {
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    /*font-family: "Roboto", sans-serif;*/
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial';
}

.container {
    width: 99%;
    border-radius: 0px;
    border: solid 1px #a5a5aa;
}

.title-container {
    width: 100%;
    height: 4%;
    position: fixed;
    top: 0px;
    background-color: #f0f3fc;
    left: 0px;
    padding-left: 50px;
    /*font-family: "Roboto", sans-serif;*/
    font-size: 20px;
}

.bottom-container {
    /*width: calc(102vw - 655px);*/
    width: 60%;
    height: calc(28vh - 2px);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    /*margin-bottom: 5px;*/
    /*margin-left: 5px;*/
}

.config-container {
    width: 300px;
    height: calc(57vh - 2px);
    padding-left: 5px;
    padding-right: 5px;
}

.left-container {
    width: 38%;
    /*height: calc(95vh - 5px);*/
}

.bottom-container {
    box-sizing: border-box;
}

.config-container,
.bottom-container,
.left-container {
    overflow: hidden;
    transition: 0.5s ease;
    /* Apply transition effect */
}

.config-container.shrink,
.bottom-container.shrink,
.left-container.shrink {
    width: 20px;
    height: 20px;
}

.shrink-button1,
.shrink-button2,
.shrink-button3 {
    position: relative;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px black;
}

.sign {
    font-size: 25px;
}

.bottom-container {
    position: fixed;
    bottom: 5px;
    background-color: #9ba1b0;
    right: 5px;
}

.config-container {
    position: fixed;
    right: 5px;
    top: 5px;
    background-color: #9ba1b0;
}

.left-container {
    /*float: left;*/
    /*top: 5px;*/
    position: fixed;
    left: 5px;
    /*top: 4%;*/
    bottom: 5px;
    background-color: #9ba1b0;
    height: 93%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: block;
}

#map {
    width: 100%;
    height: 100%;
}

#map-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#mapLegend {
    position: absolute;
    top: 100px;
    right: 5px;
    z-index: 1px;
    height: 40px;
    width: 250px;
}

#tooltiptmp{
    position: absolute;
    top: 350px;
    right: 650px;
    height: 50px;
    width: 100px;
    background-color: white;
    /*border: 1px solid black;*/
    text-align: center;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#config-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;
}

#heatmapControl{
    padding: 15px;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 45%;
}

#mapControl{
    padding: 15px;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 45%;
}

#similarity_table{
    background-color:#ffffff;
    width: 100%;
    height: 100%;
}
#projection_scatter{
    background-color:#ffffff;
    width: 100%;
    height: 100%;
}

#heatmap{
    background-color:#ffffff;
    width: 100%;
    height: calc(100% - 15px);
}

h4{
    text-align: left;
    background-color:#c5c9d6;
    margin-top: -10px;
    margin-bottom: 5px;
    padding-left: 25px;
}

#left-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 15px);
    width: 100%;
}