body {
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 99%;
    border-radius: 0px;
    border: solid 1px #a5a5aa;
}

.bottom-container {
    width: calc(100vw - 640px);
    height: calc(23vh - 2px);
    margin-bottom: 5px;
    margin-left: 5px;
}

.config-container {
    width: 300px;
    height: calc(73vh - 2px);
}

.left-container {
    width: 600px;
    height: calc(100vh - 10px);
}

.bottom-container {
    box-sizing: border-box;
}

.config-container,
.bottom-container,
.left-container {
    overflow: hidden;
    transition: 0.5s ease;
    /* Apply transition effect */
}

.config-container.shrink,
.bottom-container.shrink,
.left-container.shrink {
    width: 20px;
    height: 20px;
}

.shrink-button1,
.shrink-button2,
.shrink-button3 {
    position: relative;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign {
    font-size: 25px;
}

.bottom-container {
    position: fixed;
    bottom: 5px;
    background-color: #ffffff;
    right: 5px;
}

.config-left-container {
    position: fixed;
    left: 5px;
    top: 5px;
}

.config-container {
    float: left;
    left: 5px;
    top: 5px;
    background-color: #ffffff;
}

.left-container {
    float: left;
    left: 5px;
    top: 5px;
    background-color: #ffffff;
}

#map {
    width: 100%;
    height: 100%;
}

#map-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#mapLegend {
    position: absolute;
    top: 100px;
    right: 5px;
    z-index: 1px;
    height: 40px;
    width: 250px;
}