body {
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 99%;
    border-radius: 0px;
    border: solid 1px #a5a5aa;
}

.title-container {
    width: 100%;
    height: 3%;
    position: fixed;
    top: 0px;
    background-color: #ffffff;
    left: 0px;
    padding-top: 5px;
    padding-left: 45px;
}

.bottom-container {
    width: calc(102vw - 655px);
    height: calc(26vh - 2px);
    margin-bottom: 5px;
    margin-left: 5px;
}

.config-container {
    width: 300px;
    height: calc(73vh - 2px);
    padding-left: 10px;
    padding-right: 10px;
}

.left-container {
    width: 600px;
    height: calc(95vh - 10px);
}

.bottom-container {
    box-sizing: border-box;
}

.config-container,
.bottom-container,
.left-container {
    overflow: hidden;
    transition: 0.5s ease;
    /* Apply transition effect */
}

.config-container.shrink,
.bottom-container.shrink,
.left-container.shrink {
    width: 20px;
    height: 20px;
}

.shrink-button1,
.shrink-button2,
.shrink-button3 {
    position: relative;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign {
    font-size: 25px;
}

.bottom-container {
    position: fixed;
    bottom: 0px;
    background-color: #ffffff;
    right: 5px;
}

.config-left-container {
    position: fixed;
    left: 5px;
    top: 4%;
}

.config-container {
    position: fixed;
    right: 5px;
    top: 5px;
    background-color: #ffffff;
}

.left-container {
    float: left;
    left: 5px;
    top: 5px;
    background-color: #ffffff;
}

#map {
    width: 100%;
    height: 100%;
}

#map-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#mapLegend {
    position: absolute;
    top: 100px;
    right: 5px;
    z-index: 1px;
    height: 40px;
    width: 250px;
}

#tooltiptmp{
    position: absolute;
    top: 350px;
    right: 650px;
    height: 50px;
    width: 100px;
    background-color: white;
    /*border: 1px solid black;*/
    text-align: center;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#config-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}


#heatmapControl{
    background-color: #f5f5f5;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
}
#mapControl{
    background-color: #f5f5f5;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.15);
    height: 40%;
}