body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100%);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}

#timeline {
  position: absolute;
  top: 20px;
  width: 45px;
  height: calc(100% - 40px);
  left: calc(100% - 55px);
  background: lightgray;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 4;
  display:flex;
  flex-direction: column;
}

.timeslider {
  width: 100%;
  height: 95%;
}

.timestep_indicator {
  width: 100%;
  padding-left: 15px;
  padding-top: 15px;
}

.pp {
  margin: 0;
  font-size: 16px;
  color:rgb(0, 153, 153);
}

#temporalChartGroup, #ChartBar {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  z-index: 3;
}

#temporalChartGroup {
  top: 20px;
  left: calc(100% - 320px);
  height: calc(100% - 40px);
  width: 250px;
  background: lightgray;
  display:none;
  flex-direction: column;
}

#temporal_selector{
  width: 100%;
  height: 10%;
}

#temporalChartLine{
  width: 100%;
  height: 90%;
}

#toggleTemporalButton, #toggleBarButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #009999;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 4;
  position: absolute;
}

#toggleBarButton {
  bottom: 65px;
  left: calc(50% - 25px);
}

#toggleTemporalButton {
  top: 20px;
  left: calc(100% - 80px);
}

#ChartBar {
  top: 35px;
  right: 10px;
  width: 20%;
  height: calc(100% - 250px);
}

.axis text,
.slider text {
  font-size: 4px;
}

.slider .axis {
    font-size: 0px;
    color:red;
  }

.tick{
    opacity: 1;
}

.select-box {
  width: 80%;
  margin: 10px;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  color: #009999;
}
  
.btn {
  padding: 5px;
  border: none;
  background-color: #009999;
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
  margin-top: 2px;
  
}
  
.btn:hover {
  background-color: #033e3e;
}


.box {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 8px;
}






.centered-div {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 30vw;
  height: 30vh;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2); /* Add shadow to the div */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide overflow content */
  z-index: 2;
}

.inner-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white; /* White text */
  /*transition: all 0.3s ease;  Smooth transition for hover effect */
  border: 1px solid #009999; /* Border width, style, and color */
}

.left {
  background-color: white; /* Blue background */
}

.right {
  background-color: white; /* Red background */
}

.inner-div:hover {
  /*transform: scale(1.1);  Slightly scale up the div on hover */
}

p {
  margin: 0;
  font-size: 1.5em;
}

.drag-btn {
  position: absolute;
  top: 50%;
  right: calc(50% - 15px);
  cursor: move;
  background-color: #009999;
  padding: 5px 8px;
  color: #163333;
  border-radius: 25px;
  z-index: 1000;
}
