<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManyWaves 🌊</title>
    <link rel="stylesheet" href="./static/css/styles.css">
    <link rel="stylesheet" href="./static/css/charts.css">

    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&display=swap" rel="stylesheet">


    <!--Boostrap-->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- <script src="https://unpkg.com/d3-simple-slider@2.0.0/dist/d3-simple-slider.min.js"></script> -->
    <script src="./static/js/slider.js"></script>

    <!-- Slider -->
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css" />
    <link href="./static/css/slider.css" rel="stylesheet" type='text/css' />

    <!-- Deckgl and mapbox -->
    <script src="https://unpkg.com/deck.gl@^8.0.0/dist.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">

    <script src="../static/js/scripts.js"></script>

</head>

<body>
    <div class="main-div" id="map-container" style="margin: 0px;">
        <div id="map"></div>
    </div>

    <!--<div class="config-left-container">-->

    <div class="container left-container">
        <div class="shrink-button2 sign" onclick="shrinkLeft()">-</div>
        <div id="left-menu">
            <div id="similarity_projection" class="panel" style="flex-direction: row;height: 45%;">
                <div class="panel" style="width: calc(55% - 5px);margin-right: 5px;">
                    <div id="subtitle1" class="subtitle">Similarity Table</div>
                    <div id="similarity_table" class="panel-content chart"></div>
                </div>
                <div class="panel" style="width: 45%;">
                    <div class="subtitle">Wavelet Projection
                        <img class="mini-icon" src="static/bremm.png">
                    </div>
                    <div id="projection_scatter" class="panel-content chart"></div>
                </div>
            </div>
            <div class="panel" style="height: calc(55% - 5px); margin-top: 5px;">
                    <div class="subtitle">Heatmap of Changes</div>
                    <div id="heatmap" class="panel-content chart">
                        <svg id="heatmapSVG"></svg>
                    </div>
                    <div id="heatmapLegend"></div>
            </div>
        </div>
    </div>
    <!--</div>-->

    <div id="timeline">
        <div class="timeslider" id="timeslider" style="float: right;">
            <input type='text' id='slider' name='slider' value=''></input>
        </div>
    </div>

    <div id="mapLegend"></div>

    <div class="container bottom-container">
        <div class="shrink-button3 sign" onclick="shrinkBottom()">-</div>
        <div id="bottom-menu">
            <div class="panel">
                <div class="subtitle">Time Series</div>
                <div class="panel-content" id="TemporalMultivariateDiv"></div>
            </div>
        </div>
    </div>
    <div class='container title-container'>
        ManyWaves 🌊
    </div>
    <div class="container config-container">
        <div class="shrink-button1 sign" onclick="shrinkConfig()"><span
                style="font-family: Noto Emoji Regular;">⚙️</span></div>
        <div id="config-menu">
            <!--<div id="signalTypes" style="height: 80px; overflow-y: scroll;">
                        <p>Signal Types</p>
                    </div></br>-->
            <div class="panel">
                <div class="subtitle">Heatmap Control</div>
                <div id="heatmapControl" class="panel-content">
                    <form>
                        <label for="changeType">Change: </label><select id="changeType">
                            <option value="spatiotemporal">Spatiotemporal</option>
                            <option value="spatial">Spatial</option>
                        </select></br>
                        <label for="nFreqs" id="nFreqsValue" style="display: inline-block; width: 95px;">Nº freqs.:
                            1</label><input type="range" id="nFreqs" min="1" max="4" step="1" value="1"></br>
                        <label for="threshold" id="thresholdValue" style="display: inline-block; width: 95px;">Thresh.:
                            0.97</label><input type="range" id="threshold" min="0.6" max="1" step="0.01" value="0.97"></br>
                        <input type="checkbox" id="sharedColor">Shared Color</checkbox></br>
                        <input type="button" value="Update" id="heatmapUpdate" onclick="LoadOverview()"></br>
                    </form>
                </div>
            </div>
            <div class="panel" style="margin-top:5px;">
                <div class="subtitle">Map Control</div>
                <div id="mapControl" class="panel-content">
                    <label for="signalMap">Map fill:</label><select id="signalMap"></select></br>
                    <label for="valueType">Value:</label>
                    <select id="valueType">
                        <option value="signal" selected="selected">Signal</option>
                        <option value="coeff0">Coeff 0</option>
                        <option value="coeff1">Coeff 1</option>
                        <option value="coeff2">Coeff 2</option>
                        <option value="coeff3">Coeff 3</option>
                    </select>
                    <input type="button" value="Update" id="mapUpdateFill">
                    <select id="bottomPanel">
                        <option value="timeseries">Temporal Series</option>
                        <option value="scatter">Scatter</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div id="tooltiptmp">
    </div>
</body>
<script src="./static/js/colorLegend.js"></script>
<script src="./static/js/heatmap.js"></script>
<script src="./static/js/TemporalSeriesSMultiples.js"></script>
<script src="./static/js/ScatterMultiples.js"></script>
<script src="./static/js/projScatter.js"></script>
<script src="./static/js/similarityTable.js"></script>
<script src="./static/js/map.js"></script>

</html>