<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Version</title>
    <link rel="stylesheet" href="./static/css/styles.css">
    <link rel="stylesheet" href="./static/css/charts.css">

    <!--Boostrap-->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- <script src="https://unpkg.com/d3-simple-slider@2.0.0/dist/d3-simple-slider.min.js"></script> -->
    <script src="./static/js/slider.js"></script>

    <!-- Slider -->
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css" />
    <link href="./static/css/slider.css" rel="stylesheet" type='text/css' />

    <!-- Deckgl and mapbox -->
    <script src="https://unpkg.com/deck.gl@^8.0.0/dist.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">

    <script src="../static/js/scripts.js"></script>

</head>

<body>
    <div class="main-div" id="map-container" style="margin: 0px;">
        <div id="map"></div>
    </div>

    <div class="container top-container">
        <div class="shrink-button sign" onclick="shrinkDiv()">-</div>
        <div class="content" id="TemporalMultivariateDiv" style="height: 99%;">

        </div>
    </div>

    <div class="container middle-container">
        <div class="shrink-button2 sign" onclick="shrinkDiv2()">-</div>
        <p></p>
    </div>

    <div class="container bottom-container">
        <div class="shrinkContainer" style=" border-bottom: none;"></div>
        <div class="shrink-button3 sign" onclick="shrinkDiv3()">-</div>
        <div id="timeline">
            <div class="timeslider" id="timeslider" style="position: absolute;"> <input type='text' id='slider'
                    name='slider' value=''></input>
            </div>
        </div>
        <div id="overview" style="width: 100%; height: calc(100% - 40px); border-radius: 5px; background-color: white;">
            <div id="heatmapMenu"
                style="margin: 15px 0px 0px 15px; width: 250px; border: solid 1px black; float: left;">
                <form>
                    <div id="signalTypes" style="height: 65px; overflow-y: scroll;"></div>
                    <label for="nFreqs" id="nFreqsValue" style="display: inline-block; width: 80px;">Nº freqs.:
                        4</label><input type="range" id="nFreqs" min="0" max="3" step="1" value="2"></br>
                    <label for="threshold" id="thresholdValue" style="display: inline-block; width: 80px;">Thresh.:
                        0.7</label><input type="range" id="threshold" min="0" max="1" step="0.01" value="0.7"></br>
                    <input type="button" value="Update" id="heatmapUpdate" style="float:left;" onclick="LoadOverview()">
                </form>
            </div>
            <div id="heatmap" style="float: left;">
                <svg id="heatmapSVG"></svg>
            </div>
        </div>
    </div>

</body>
<script src="./static/js/TemporalSeries.js"></script>
<script src="./static/js/heatmap.js"></script>
<script src="./static/js/map.js"></script>

</html>