<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AutoSatViewer</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
  <link href="../static/css/style.css" rel="stylesheet" type='text/css' />
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
   <script src="https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw.js"></script>
   <!--Boostrap-->
   <script src="https://d3js.org/d3.v7.min.js"></script>
   <!-- <script src="https://unpkg.com/d3-simple-slider@2.0.0/dist/d3-simple-slider.min.js"></script> -->
   <script src="../static/js/slider.js"></script>

</head>
<body style="overflow: hidden;">
  <div id="map">
    <camvas></camvas>
  </div>
  <div id="footer">
    <div class="mensaje" style="width: 90px; "> 
        <p id="value-time" class="pp"></p>
    </div>
    <div class="timeslider" id="timeslider" style="width: calc(100%-95px);  flex-grow: 1;">    </div>
  </div>

  <button id="toggleTemporalButton" onclick="toggleDiv('temporalChartGroup'); toggleDiv('ChartBar');">+</button>
  <button id="toggleBarButton" onclick="toggleDiv('ChartBar'); toggleDiv('temporalChartGroup')">+</button>
  
  <div id="temporalChartGroup" >
        <div style="display: flex; width: 100%; height: 100%; ">
            <div style="width: 150px; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; "> 
                <select class="select-box">
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
                <button class="btn">Filter</button>
            </div>
            <div id="temporalChartLine"  style="width: calc(100%-155px); flex-grow: 1; height: 100%; display: inline-block; align-items: center;    justify-content: center;
            font-size: 2em; border-radius: 8px;">  
            </div>
        </div>
  </div>
  <div id="ChartBar" style=" flex-direction: column;   align-items: center;">
    <div class="box box1">Additional Charts</div>
    <div class="box box2" id="ScatterPlot">

    </div>
  </div>

  <script>
    function toggleDiv(divId) {
      var div = document.getElementById(divId);
      div.style.display = (div.style.display === 'none' || !div.style.display) ? 'block' : 'none';
      adjustButtons();
    }

    function adjustButtons() {
      var temporalChartGroup = document.getElementById('temporalChartGroup');
      var toggleTemporalButton = document.getElementById('toggleTemporalButton');
      toggleTemporalButton.style.bottom = (temporalChartGroup.style.display === 'block') ? '200px' : '65px';
      // Adjust the #toggleBarButton similarly.
    }
  </script>
  <!--<script src="../static/js/Scatterplot.js"></script>-->
  <script src="../static/js/map.js"></script>
  <script src="../static/js/extra_plots.js"></script>
</body>
</html>
