<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AutoSatViewer</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
  <link href="../static/css/style.css" rel="stylesheet" type='text/css' />
  <link href="../static/css/maps.css" rel="stylesheet" type='text/css' />
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
   <script src="https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw.js"></script>
   <script src="https://unpkg.com/leaflet.sync/L.Map.Sync.js"></script>
   <script src="https://unpkg.com/split.js/dist/split.min.js"></script>

   <!--Boostrap-->
   <script src="https://d3js.org/d3.v7.min.js"></script>
   <!-- <script src="https://unpkg.com/d3-simple-slider@2.0.0/dist/d3-simple-slider.min.js"></script> -->
   <script src="../static/js/slider.js"></script>


   <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
   <link href="../static/css/slider.css" rel="stylesheet" type='text/css' />

</head>
<body style="overflow: hidden;">
  <div id="container">
    <!--
    <div id="mapa-left" class="panel"></div>
    <div id="resizer-left" class="resizer"></div>
    <div id="map" class="panel">  <camvas></camvas></div>
    <div id="resizer-right" class="resizer"></div>
    <div id="mapa-right" class="panel"></div> -->
    <div id="mapa-left" class="map-container"></div>
    <div id="map" class="map-container"></div>
    <div id="mapa-right" class="map-container"></div>

  <div id="timeline">
    <div class="timestep_indicator"> 
        <!-- <p id="value-time" class="pp">1</p> -->
    </div>
    <div class="timeslider" id="timeslider"> <input type='text' id='slider' name='slider' value=''></input>
    </div>
  </div>

  <!-- <div class="centered-div" id="draggable">
    <div id="drag-btn" class="drag-btn">☰</div>
    <div class="inner-div left" id="mapa-left">
       
    </div>
    <div class="inner-div right" id="mapa-right">
      
    </div>
  </div> -->
  
  <!--<button id="toggleBarButton" onclick="toggleDiv('ChartBar'); toggleDiv('temporalChartGroup')">+</button>-->
  
  <button id="toggleTemporalButton" onclick="toggleDiv('temporalChartGroup'); toggleDiv('ChartBar');">+</button>
  <div id="temporalChartGroup" >
    <div id = "temporal_selector"> 
      <select class="select-box" id = "data_source">
        <option value="spatiotemporal_torque">Spatiotemporal torque</option>  
        <option value="spatial_torque">Spatial torque</option>
        <option value="temporal_torque">Temporal torque</option>
        <option value="spatiotemporal_coeff_0">spatiotemporal coeff. 0</option>
        <option value="spatiotemporal_coeff_1">spatiotemporal coeff. 1</option>
        <option value="spatiotemporal_coeff_2">spatiotemporal coeff. 2</option>
        <option value="spatiotemporal_coeff_3">spatiotemporal coeff. 3</option>
        <option value="spatiotemporal_coeff_4">spatiotemporal coeff. 4</option>
        <option value="spatiotemporal_coeff_5">spatiotemporal coeff. 5</option>
        <option value="spatiotemporal_coeff_6">spatiotemporal coeff. 6</option>
        <option value="spatiotemporal_coeff_7">spatiotemporal coeff. 7</option>
        <option value="spatial_coeff_0">spatial coeff. 0</option>
        <option value="spatial_coeff_1">spatial coeff. 1</option>
        <option value="spatial_coeff_2">spatial coeff. 2</option>
        <option value="spatial_coeff_3">spatial coeff. 3</option>
        <option value="spatial_coeff_4">spatial coeff. 4</option>
        <option value="spatial_coeff_5">spatial coeff. 5</option>
        <option value="spatial_coeff_6">spatial coeff. 6</option>
        <option value="spatial_coeff_7">spatial coeff. 7</option>
        <option value="temporal_coeff_0">temporal coeff. 0</option>
        <option value="temporal_coeff_1">temporal coeff. 1</option>
        <option value="temporal_coeff_2">temporal coeff. 2</option>
        <option value="temporal_coeff_3">temporal coeff. 3</option>
        <option value="temporal_coeff_4">temporal coeff. 4</option>
        <option value="temporal_coeff_5">temporal coeff. 5</option>
        <option value="temporal_coeff_6">temporal coeff. 6</option>
        <option value="temporal_coeff_7">temporal coeff. 7</option>
      </select>
      <button class="btn" id = "update_data_source">Update</button>
    </div>
    <div id="temporalChartLine"></div>
  </div>
  </div>
  <!--<div id="ChartBar" style=" flex-direction: column;   align-items: center;">
    <div class="box box1">Additional Charts</div>
    <div class="box box2" id="ScatterPlot"></div>
  </div>-->

  <script>
    function toggleDiv(divId) {
      var div = document.getElementById(divId);
      div.style.display = (div.style.display === 'none' || !div.style.display) ? 'flex' : 'none';
      adjustButtons();
    }

    function adjustButtons() {
      var temporalChartGroup = document.getElementById('temporalChartGroup');
      toggleTemporalButton.style.left = (toggleTemporalButton.style.left == "calc(100% - 350px)") ? "calc(100% - 80px)" : "calc(100% - 350px)";
      //var toggleTemporalButton = document.getElementById('toggleTemporalButton');
      //toggleTemporalButton.style.bottom = (temporalChartGroup.style.display === 'block') ? '200px' : '65px';
      // Adjust the #toggleBarButton similarly.
    }
  </script>
  <script src="../static/js/map.js"></script>
  <script src="../static/js/drag.js"></script>
  
  <!--<script src="../static/js/extra_plots.js"></script> -->
  <script src="../static/js/TemporalGraph2.js"></script>
</body>
</html>
